<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Despre noi</h2>
                <h3 class="section-subheading">
                  <div>Cu piața muncii în continuă tranziție, este esențial să înveți mereu ceva nou.</div>
                  <br />
                  <div>Wantsome este o nouă școală prietenoasă de IT, din Iași, care vrea să schimbe viitorul școlilor din industrie prin corelarea cunoștințelor cu cerințele reale ale angajatorilor.</div>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div class="col-sm-4">
                  <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                      <h4>Misiune</h4>
                      <p>Prin Wantsome, aducem cursuri accesibile și eficiente în funcție de cerințele actuale ale industriei IT.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
                    </span>
                      <h4>Obiective</h4>
                      <p>Cu ajutorul susținerii tale și a specialiștilor implicați în traininguri și practică se vor realiza 2 lucruri:</p>
                      <ul class="list-group">
                        <li class="list-group-item">creșterea nivelului profesional pe plan local și din zona Moldovei pentru candidați de nivel Middle/Senior</li>
                        <li class="list-group-item">reconversie profesională pentru candidați capabili, aflați la nivelul Începător/Junior.</li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
                    </span>
                      <h4>Soluția</h4>
                      <p>Ideea acestor sesiuni de training informal, cu traineri implicați, accent pe practică și mai ales, cu sens, este soluția noastră pentru nevoia de specialiști resimțită în companiile locale.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
