<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Despre noi</h2>
                <h3 class="section-subheading text-muted">In spatele fiecarui click sau atingeri de ecran se executa un program care face lucrurile sa se intample! Invata si dezvolta-ti talentul in programare  si intelege cum afecteaza lumea era digitala.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div class="col-sm-4">
                  <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                      <h4>Misiune</h4>
                      <p class="text-muted">Misiunea noastra este sa aducem cursuri accesibile si eficiente in concordanta cu cerintele actuale ale industriei IT.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
                    </span>
                      <h4>Obiective</h4>
                      <p class="text-muted">Ne propunem sa schimbam viitorul scolilor de IT prin corelarea cunostintelor cu cerintele angajatorilor.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                      <h4>Viziune</h4>
                      <p class="text-muted">Wantsome functioneaza pe pricipiul ca oricine ar trebui sa poata dobandi cunostinte de programare. Credem ca procesul de invatare ar trebui sa fie placut, o experienta inclusiv pe plan social, astfel ca veti putea discuta cu ceilalti pe
                          parcursul procesului de invatare, pentru a descoperi idei si lucruri noi.</p>
                  </div>
              </div>
                <p></p>
            </div>
        </div>
    </div>
</section>
