<section  id="blog">
    <div class="container">
        <div class="row">
            <div>
                <div class="blog-index">
					{% for post in site.posts offset: 0 limit: 30 %}
						{% if post.category == "blog" %}
						<h1><a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a></h1>
						<h3><date>{{ post.date | date: "%B %-d, %Y" }}</date></h3>
							{{ post.excerpt }}
						{% endif %}
					{% endfor %}
					<div class="entry-content">{{ content }}</div>
				</div>
            </div>
        </div>
    </div>
</section>
