<!-- Services Section -->
    <section id="companies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wantsome Company?</h2>
                    <h3 class="section-subheading text-muted">Serviciile Wantsome pentru companiile IT din Iași. Pentru început:</h3>
                </div>
            </div>
            <div class="row">
                <h4 class="service-heading">Testare Automată</h4>
                    <div>
                      <ul class="list-group">
                        <li class="list-group-item">Evaluare și realizare concept framework de testare automată</li>
                        <li class="list-group-item">Implementare framework de testare automată</li>
                        <li class="list-group-item">Training intern, adaptat companiei, pentru testare automată</li>
                      </ul>
                    </div>
                </div>
                <p></p>
        </div>
    </section>
