<div class="page">
	<div class="container">
		<div class="course-details">
			<h2></h2>
			<hr class="star-primary">
			<span class="fa-stack fa-4x">
	<i class="fa fa-circle fa-stack-2x text-primary"></i>
	<i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
</span>
			<p>{{ post.description }}</p>
			<!-- <ul class="list-inline item-details"> -->
				<!-- <li class="page-scroll btn btn-xl">Data începere: Toamnă 2017</a> -->
					<!-- <li class="page-scroll btn btn-xl">Durată: 16 săptămâni</a>
	<li class="page-scroll btn btn-xl">Taxă participare: 700 euro</a>
	<li class="page-scroll btn btn-xl"><a class="download" href="{{ site.baseurl }}/files/wantsome_the_friendly_it_academy_programa_testare_automata.pdf">Descarcă programa</a></li> -->
			<!-- </ul> -->

<h1>În curând</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

		</div>
	</div>
</div>
