<div class="row">
	<div class="col-md-2 course-details">
		<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-server fa-stack-1x fa-inverse"></i>
				</span>
	</div>
	<div class="col-md-10">
		<h2>Infrastracture</h2>
	</div>
	<p>{{ post.description }}</p>

</div>
<div class="row">
	<p></p>
</div>
<div class="programa">
	<div>
		<h3>Detalii</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Data începere</h4>
				<h5>Seria 1 - Octombrie 2017</h5>
				<p>Data început: 9 octombrie</p>
				<p>Data este estimativă și poate suferi modificări minore.</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Durată</h4>
				<h5>16 săptămâni x 6 ore/săptămână = 96 ore</h5>
				<p>Cursurile se desfășoară de 2 ori pe săptămână: 2 ore seara după 18:30 (luni-vineri) și 4 ore sâmbăta</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Taxă participare</h4>
				<h5>800 euro</h5>
				<p>Taxa acoperă toate costurile acestui curs și poate fi plătită în 2 rate egale: 1 rată la semnarea contractului și 1 rată la jumătatea cursului</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Înscrieri</h4>
				<h5>În curând</h5>
				<!-- <p><a class="btn btn-xl" href="#" target="_blank">Aplică acum</a></p> -->
			</div>
		</div>
	</div>
</div>

<div class="programa">
	<div>
		<h3>Programa</h3>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module I - Windows Server Installation</h4>
			<ol class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Understand device drivers</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Understand services</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Understand server installation options</li>
			</ol>
		</div>

		<div class="right-column">
			<h4 class="service-heading">Module II - Storage</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Identify storage technologies and their typical usage scenarios</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Understand redundancy</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Understand disk types</li>
			</ul>
		</div>

	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module III - Server maintenance</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Identify steps in the startup process</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Understand business continuity</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Understand updates</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>4. Understand troubleshooting methodology</li>
			</ul>
		</div>

		<div class="right-column">
			<h4 class="service-heading">Module IV - Server role</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Identify application servers</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Understand Web services</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Understand remote access</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>4. Understand the file and print services</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module V - Server virtualization</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hyper-V architecture</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hyper-V installation requirements</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hyper-V Manager, configure Hyper-V settings</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Create and configure virtual hard disks, virtual memory, virtual networks, checkpoints and saved states, physical to virtual conversions</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Configure virtual machine settings</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Manage virtual machine</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">Module VI - VMware infrastructure</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Installation and Setup</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Upgrade</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vCenter Server and Host Management</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vCenter Server Appliance Configuration</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Platform Services Controller Administration</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Virtual Machine Administration</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Host Profiles</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Networking</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Storage</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Security</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Resource Management</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Availability</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Monitoring and Performance</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Single Host Management - VMware Host Client</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Troubleshooting</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Setup for Failover Clustering and Microsoft Cluster Service</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module VII - Recapitularea intregului proces si aplicarea tuturor cunostintelor asimilate</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Process overview</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">Module VIII - Simularea interviurilor si soft skills</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why soft skills matter</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Technical knowledge coverage</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What kind of interview questions should you expect</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interview simulation</li>
			</ul>
		</div>
	</div>

</div>
