 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="curs-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <!-- <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa {{ post.thumbnail }} fa-stack-1x fa-inverse"></i>
                            </span>
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
								<li class="page-scroll btn btn-xl">Data începere: {{ post.project-date }}</a>
								<li><a class="page-scroll btn btn-xl" href="{{ site.baseurl }}/files/{{ post.file }}">Descarcă programa</a></li>
                            </ul>
							
{% if post.modal-id == 'testare-automata' %}
<div class="programa">

	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">1. Automation intro, concepts</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What is test automation</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What type of testing best suits your need</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>When you need test automation</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Automation makes things easy</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test automation process</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Tools overview</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">2. Web testing, native testing, mobile testing</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Mobile vs web-based application testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Native vs hybrid applications</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Testing types&approach</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Web service introduction</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Real devices vs emulators</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">3. Java & Junit</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>OOP concepts & Basics of Java</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Development tools</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Environment setup</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>JUnit Test Framework</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hamcrest assertions</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">4. Backend & API testing</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>UI vs Backend</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Backend testing approach</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>API testing approach</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>REST vs SOAP</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Database testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test tools</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">5. RestAssured DSL library example</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Domain specific language</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>RESTful services</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>RestAssured introduction</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Json vs XML</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Request & response analysis</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">6. Selenium introduction</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Selenium IDE</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Selenium components</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>WebDriver overview</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">7. Selenium - Navigation</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Navigation commands</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">8. Selenium - Interrogation</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interrogation commands</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">9. Locators: ID, CSS, Xpath</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Locators overview</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Single vs multiple elements</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">10. Selenium - Manipulation</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Manipulation commands</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">11. Selenium - User interaction</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Keyboard interactions</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Mouse interactions</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">12. Advanced Selenium 1</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Alerts</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Frames</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">13. Advanced Selenium 2</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Cookies</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Javascript</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">14. Test Automation patterns 1: Page Objects</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Page object modelling</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>PageFactory</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Advantages</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">15. Test Automation patterns 2: Keyword Driven</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Keyword Driven Framework overview</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Keyword Driven Framework approach</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why use it</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">16. Test Automation patterns 3: Data driven</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Data Driven Framework overview</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Data Driven Framework approach</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why use it</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">17. Test Automation patterns 4: Hybrid</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hybrid Driven Framework overview</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hybrid Driven Framework approach</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why use it</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">18. Serenity reporting</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Serenity overview</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test report features</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">19. Recapitularea intregului proces si aplicarea tuturor cunostintelor asimilate</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Process overview</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Automation test project planning</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">20. Simularea unui proiect cap - coada</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test project developed from scratch</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Make use of learned tools and concepts</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Project architecture tips & tricks</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>HTML report & screenshots</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">21. Simularea interviurilor si soft skills</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why soft skills matter</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Technical knowledge coverage</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What kind of interview questions should you expect</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interview simulation</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading"></h4>
		<ul class="list-group">
			
		</ul>
	</div>
	</div>

</div>
{% endif %}

{% if post.modal-id == 'testare-manuala' %}
<div class="programa">

	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">1. Introducere in Software testing și modul de lucru al companiilor</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Modul de organizare a echipelor intr-o corporatie</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Scopul unui tester in procesul de dezvoltare</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Principiile si termenii de baza in testare</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Costurile pentru corectarea defectelor</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Testare exploratorie pe o aplicatie predefinita pentru a intelege Scopul unui tester, principiile de testare si pentrufamiliarizarea cu termenii de baza.</p>
        </div>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">2. Testarea exploratorie si raportarea defectelor</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Familiarizarea cu bug tracking</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Raportarea defectelor - tehnici uzuale</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Urmarirea defectelor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Clasificarea defectelor - Prioritate si severitate</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Exploratory si adaugarea defectelor in bug tracking.</p>
        </div>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">3. DevOps si tools</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Git – comenzile de baza</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>FTP</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Jing pentru screenshots</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Notepad++ pentru compararea a 2 stringuri</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Excel pentru calcule si formule</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>regexhero.net si Notepad++ pentru cautari cu expresii regulate</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Firebug (HTML + CSS)</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Fiddle</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">4. Modele de testare</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Ciclul de testare (STLC - Software testing life cycle)</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Cliclul de dezvoltare (SDLC - Software development life cycle)</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>V-Model</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Waterfall Model</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Iterativ Model (Agile)</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Avantajele si dezavantajele modelelor</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Exploratory testing, simularea unui sprint meeting.</p>
        </div>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">5. Tipurile de testare</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Functional testing vs Non-Functional testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Exploratory testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Black box testing: Equivalent partition, Boundary validation, Decision Table</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Gray-box testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Smoke testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Regression testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Alte tipuri de testare: Alpha testing, Beta testing, Compatibility testing</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Aplicarea tipurilor de testare</p>
        </div>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">6. Nivele de testare</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Component testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Integration testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>System testing</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Acceptance testing</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Aplicarea nivelelor de testare</p>
        </div>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">7. Analiza specificatiilor si pregatirea mediului</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Analiza specificatiilor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Pregatirea mediul de testare</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Pregatirea preconditiei</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Pregatirea mediul de testare si a preconditiei</p>
        </div>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">8. Documentarea testarii</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Crearea unui test plan</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Crearea test case-urilor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Tipurile de test case, pozitive si negative.</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Modele de test plan</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Crearea documentatiei pentru testare</p>
        </div>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">9. Executarea test planului</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Rularea test planului si a test case-urilor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Logarea defectelor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Validarea defectelor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Regression testing</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Executarea test planului creat anterior</p>
        </div>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">10. Managementul defectelor</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Raportarea defectelor gasite dupa executarea test planului</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Prioritizarea defectelor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Urmarirea defectelor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Urgentarea defectelor cu prioritate mare</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Validarea defectelor</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Managementul defectelor</p>
        </div>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">11. Analiza si raportari</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Generarea rapoartelor</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Analiza riscului si impactului</li>
		</ul>
		<div class="workshop">
			<h4>Workshop</h4>
            <p>Analiza si raportari</p>
        </div>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">12. Baze de date</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Ce este o baza de date</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Creare baze de date si legaturile dintre tabele</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Selectare date</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Inserare, actualizare, stergere date	</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Join intre tabele</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Back-up/restore - pentru preconditie</li>
		</ul>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">13. Testare automata</h4>
		<ul class="list-group">
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Crearea testelor automata folosing un framework existent</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Rularea testelor automate (manual si automat)</li>
			<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Analiza rezultatelor</li>
		</ul>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">14. Recapitularea intregului proces si aplicarea tuturor cunostintelor asimilate</h4>
	</div>
	</div>
	
	<div class="list">
	<div class="left-column">
		<h4 class="service-heading">15. Simularea unui proiect cap - coada</h4>
	</div>
		
	<div class="right-column">
		<h4 class="service-heading">16. Simularea interviurilor si soft skills</h4>
	</div>
	</div>
	</div>

</div>
{% endif %}
							
         <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
