<div class="row">
	<div class="col-md-2 course-details">
		<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-server fa-stack-1x fa-inverse"></i>
				</span>
	</div>
	<div class="col-md-10">
		<h2>Network&Infrastructure</h2>
	</div>
	<p>{{ post.description }}</p>

</div>
<div class="row">
	<p></p>
</div>
<div class="programa">
	<div>
		<h3>Detalii</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Data începere</h4>
				<h5>Seria 1 - Ianuarie 2018</h5>
				<p>Data început: 15 ianuarie</p>
				<p>Data este estimativă și poate suferi modificări minore.</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Durată</h4>
				<h5>16 săptămâni x 6 ore/săptămână = 96 ore</h5>
				<p>Cursurile se desfășoară de 2 ori pe săptămână: 2 ore seara după 18:30 (luni-vineri) și 4 ore sâmbăta</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Taxă participare</h4>
				<h5>800 euro</h5>
				<p>Taxa acoperă toate costurile acestui curs și poate fi plătită în 2 rate egale: 1 rată la semnarea contractului și 1 rată la jumătatea cursului</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Înscrieri</h4>
				<h5>Online</h5>
				<p><a class="btn btn-xl" id="aplica" href="https://goo.gl/forms/wtntl3FOwVmEURSq2" target="_blank">Aplică acum</a></p>
				<!-- Add Pixel Events to the button's click handler -->
				<script type="text/javascript">
					var button = document.getElementById('aplica');
					button.addEventListener(
						'click',
						function() {
							fbq('track', 'CompleteRegistration', {
								content_name: 'Infrastructure',
								status: 'started'
							});
						},
						false
					);
				</script>
			</div>
		</div>
	</div>
</div>

<div class="programa">
	<div>
		<h3>Programa</h3>
	</div>
	<div>
		<h4>Network</h4>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module I - Introduction to Network Infrastructure</h4>
			<ol class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Network Architecture Standards</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Local Area Networking</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Wide Area Networking</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>4. Wireless Networking</li>
			</ol>
		</div>

		<div class="right-column">
			<h4 class="service-heading">Module II - Network Components</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. TCP/OSI Model</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Wiring methodologies and standards</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Adapters, Hubs and Switches</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>4. Understanding Routing</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module III - Implementing TCP/IP</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Overview of TCP/IP</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. IPv4 Addressing</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. IPv6 Addressing</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>4. Name resolution</li>
			</ul>
		</div>

		<div class="right-column">
		</div>
	</div>
	<div>
		<h4>Infrastructure</h4>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module IV - Windows Server Installation</h4>
			<ol class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Windows Server Installation options</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Configure Windows Server</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Windows services</li>
			</ol>
		</div>

		<div class="right-column">
			<h4 class="service-heading">Module V - Server roles</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Active Directory Domain Services, DHCP, DNS</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Group Policy Management</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. WSUS</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>4. Windows Internet Information Services (IIS) </li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>5. Remote Desktop Services</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>6. File and print services</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module VI - Server maintenance</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Firmware and drivers updates</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Windows Updates</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Troubleshooting methodology</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>4. Business continuity</li>
			</ul>
		</div>

		<div class="right-column">
			<h4 class="service-heading">Module VII - Storage</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>1. Storage technologies and their typical usage scenarios</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>2. Storage redundancy</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>3. Disk types</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module VIII - Windows Server Hyper-V and System Center Virtual Machine Manager</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hyper-V architecture</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hyper-V installation requirements</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hyper-V Manager, configure Hyper-V settings</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Create and configure virtual hard disks, virtual memory, virtual networks, checkpoints and saved states</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Virtual machine management and settings</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Failover Cluster Manager</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Virtual Machine Manager(VMM) installation and configuration</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>VMM Networking, Storage and Security</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>VMM Library and virtual machine templates</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">Module IX - VMware infrastructure</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Installation and Setup</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vSphere Upgrade</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>vCenter Server Installation and Configuration</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Virtual Machine Administration</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Host Profiles</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Networking, Storage and Security</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>High Availability</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Monitoring and Performance</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Troubleshooting</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Setup for Failover Clustering and Microsoft Cluster Service</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Module X - Recapitularea intregului proces si aplicarea tuturor cunostintelor asimilate</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Process overview</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">Module XI - Simularea interviurilor si soft skills</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why soft skills matter</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Technical knowledge coverage</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What kind of interview questions should you expect</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interview simulation</li>
			</ul>
		</div>
	</div>

</div>
