<div class="row">
	<div class="col-md-2 course-details">
		<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-server fa-stack-1x fa-inverse"></i>
				</span>
	</div>
	<div class="col-md-10">
		<h2>Programare .NET</h2>
	</div>
	<p>{{ post.description }}</p>

</div>
<div class="row">
	<p></p>
</div>
<div class="programa">
	<div>
		<h3>Detalii</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Data începere</h4>
				<h5>Seria 1 - Octombrie 2017</h5>
				<p>Data început: 9 octombrie</p>
				<p>Data este estimativă și poate suferi modificări minore.</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Durată</h4>
				<h5>16 săptămâni x 6 ore/săptămână = 96 ore</h5>
				<p>Cursurile se desfășoară de 2 ori pe săptămână: 2 ore seara după 18:30 (luni-vineri) și 4 ore sâmbăta</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Taxă participare</h4>
				<h5>800 euro</h5>
				<p>Taxa acoperă toate costurile acestui curs și poate fi plătită în 2 rate egale: 1 rată la semnarea contractului și 1 rată la jumătatea cursului</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Înscrieri</h4>
				<h5>ONLINE</h5>
				<p><a class="btn btn-xl" href="https://goo.gl/forms/Vx1fMgR1rNUSHDCv1" target="_blank">Aplică acum</a></p>
			</div>
		</div>
	</div>
</div>

<div class="programa">
	<div>
		<h3>Programa</h3>
	</div>
	<div>
		<h4>Fundamentals</h4>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">1. Module: Introduction</h4>
			<ol class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Decimal & Binary & ASCII & Unicode systems</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Simple algorithms written in human steps</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Simple conditions, loops, variables, functions</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Compiling and debugging your first 'Hello world'</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Variables</li>
			</ol>
		</div>

		<div class="right-column">
			<h4 class="service-heading">2. Module: Data structures</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Loops and Iterations</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Casting</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Arrays</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Lists</li>
			</ul>
		</div>

	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">3. Module: Algorithms</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Advanced debugging</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Sorting an Array</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Looking for an element in a list</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Looking for an element in a sorted array</li>
			</ul>
		</div>

		<div class="right-column">
			<h4 class="service-heading">4. Module: OOP Concepts I</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Procedural and Object Oriented Programming</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Classes and objects</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Constructors</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Fields, Properties and Functions</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">5. Module: OOP Concepts II</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Inheritance</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interfaces</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Abstract classes</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Polymorphism</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">6. Module: SQL language</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Create TABLES</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Add data to Tables (INSERT Statement)</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Update data in Tables (UPDATE Statement)</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Delete data from Tables (DELETE Statement)</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Get data from Tables (SELECT Statement)</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">7. Module: HTML, CSS, Bootstrap</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
		<div class="right-column">
		</div>
	</div>

	<div>
		<h4>Advanced</h4>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">1. Module: ASP.NET MVC</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">2. Module: ADO.NET</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">3. Module: Javascript & jQuery</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">4. Module: Exceptions</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">5. Module: Unit testing</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">6. Module: Generics</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">7. Module: Source control</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">8. Module: Security</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">9. Module: Performance</h4>
			<ul class="list-group">
				<!-- <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i></li> -->
			</ul>
		</div>
		<div class="right-column">
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Recapitularea intregului proces si aplicarea tuturor cunostintelor asimilate</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Process overview</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">Simularea interviurilor si soft skills</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why soft skills matter</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Technical knowledge coverage</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What kind of interview questions should you expect</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interview simulation</li>
			</ul>
		</div>
	</div>

</div>
