<div class="row">
	<div class="col-md-2 course-details">
		<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-server fa-stack-1x fa-inverse"></i>
				</span>
	</div>
	<div class="col-md-10">
		<h2>Programare Java</h2>
	</div>
	<p>{{ post.description }}</p>

</div>
<div class="row">
	<p></p>
</div>
<div class="programa">
	<div>
		<h3>Detalii</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-sm-3">
			<div class="team-member bordered attention">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Data începere</h4>
				<h5>Seria 2 - Martie 2018</h5>
				<!-- <p>Data început: 17 octombrie</p> -->
				<p>Data este estimativă și poate suferi modificări minore.</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Durată</h4>
				<h5>16 săptămâni x 6 ore/săptămână = 96 ore</h5>
				<p>Cursurile se desfășoară de 2 ori pe săptămână: 2 ore seara după 18:30 (luni-vineri) și 4 ore sâmbăta</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Taxă participare</h4>
				<h5>900 euro</h5>
				<p>Taxa acoperă toate costurile și poate fi plătită în 3 rate: 1 rată la semnarea contractului, iar celelalte 2 în săptămânile 6 și 11.</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Înscrieri</h4>
				<h5>ONLINE</h5>
				<p><a class="btn btn-xl" id="aplica" href="https://goo.gl/forms/BlkvROgqzetC0LWC3" target="_blank">Aplică acum</a></p>
				<!-- Add Pixel Events to the button's click handler -->
				<script type="text/javascript">
					var button = document.getElementById('aplica');
					button.addEventListener(
						'click',
						function() {
							fbq('track', 'CompleteRegistration', {
								content_name: 'Programare Java',
								status: 'started'
							});
						},
						false
					);
				</script>
			</div>
		</div>
	</div>
</div>

<div class="programa">
	<div>
		<h3>Programa</h3>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">1. Intro</h4>
			<ol class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Scope Of The Course</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Expectations & Prerequisites</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>IDE & Environment Setup (download java, IDEA)</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Git Introduction (setup account, configure key)</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>A Simple Java Program (fork repo, make changes, push)</li>
			</ol>
		</div>

		<div class="right-column">
			<h4 class="service-heading">2. Java Intro</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Loops (for, while, for..in)</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Conditionals</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Arrays</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Enumerables</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Primitives vs Objects</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Methods</li>
			</ul>
		</div>

	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">3. OOP</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Classes & Interfaces</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Inheritance</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Polymorphism</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Composition</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Encapsulation</li>
			</ul>
		</div>

		<div class="right-column">
			<h4 class="service-heading">4. Java Type System</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Static Members</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Packages</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Generics</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Type Erasure</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Comparable & Comparator</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">5. Data structures</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Lists, Sets, Maps</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Enums</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">6. Exceptions & Testing</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Throwing and Catching Exceptions (try/catch/finally)</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Runtime vs Checked Exceptions</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Automated Tests with NUnit</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Introduction to TDD</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">7. I/O (part 1)</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Reading & Writing Files</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>try-with-resources</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Making Web Requests</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">8. Functional programming</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Anonymous Classes</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Arrow Functions</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Optional<T></li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Java 8 Streams</li>
			</ul>
		</div>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">9. Tooling</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Dependency Management</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Build Tools</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Running Code</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">10. Multithreading</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Threads</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Locks</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Executors</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Global Exception Handlers</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Concurrent Data Structures</li>
			</ul>
		</div>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">11. I/O (part 2)</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Database Access</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Connection Pooling</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Transactions</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">12. Design Patterns</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Singleton</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Adapter</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Abstract Factory & Factory Object</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Strategy</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Visitor</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">13. Metaprogramming</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Annotations</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Reflection</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Proxies</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">14. Spring & Hibernate</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Dependency Injection</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Spring Data JPA</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">15. Project, week 1</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Start working on a Web Crawler</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">16. Project, week 2</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Review the results</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">Simularea interviurilor si soft skills</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why soft skills matter</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Technical knowledge coverage</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What kind of interview questions should you expect</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interview simulation</li>
			</ul>
		</div>
	</div>

</div>
