<!-- Services Section -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
            </div>
            <div class="row">
                <p class="lead">The training was well-structured and focused on easy learning. Having multiple training sessions helped people understand not only automation techniques, but also roles and directions to follow during testing process.
                <br />Enciu delivered content within the timeframe allotted and was able to manage time efficiently if faced with a technical issue or other distraction/problem. This was because he had patience when interacting with my colleagues.
                <br />The big pluses this course provided were practical examples on real environments and opportunities we have by learning and applying automation in our company.
                <br />We saw this excellent opportunity as a professional growth and we will definitely apply all these techniques within our company.</p>
            </div>
            <div class="col-lg-12 text-right">
                <p class="lead"><strong>Bogdan Cotoc - Development Manager, <a href="http://www.trustteam.be/" target="_blank">Trustteam</a></strong></p>
            </div>
        </div>
    </div>
</section>
