<div class="row">
	<div class="col-md-2 course-details">
		<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
				</span>
	</div>
	<div class="col-md-10">
		<h2>Testare Automată</h2>
	</div>
	<p>{{ post.description }}</p>

</div>
<div class="row">
	<p></p>
</div>
<div class="programa">
	<div>
		<h3>Detalii</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-sm-3">
			<div class="team-member bordered attention">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Data începere</h4>
				<h5>Seria 3 - Martie 2018</h5>
				<p>Data început: 7 martie</p>
				<p>Data este estimativă și poate suferi modificări minore.</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Durată</h4>
				<h5>16 săptămâni x 6 ore/săptămână = 96 ore</h5>
				<p>Cursurile se desfășoară de 2 ori pe săptămână: 2 ore seara după 18:30 (luni-vineri) și 4 ore sâmbăta</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Taxă participare</h4>
				<h5>900 euro</h5>
				<p>Taxa acoperă toate costurile și poate fi plătită în 3 rate: 1 rată la semnarea contractului, iar celelalte 2 în săptămânile 5 și 9.</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member bordered">
				<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
								</span>
				<h4>Înscrieri</h4>
				<h5>Online</h5>
				<p><a class="btn btn-xl" id="aplica" href="https://goo.gl/forms/oXxsHfkxEscoSeUX2" target="_blank">Aplică acum</a></p>
				<!-- Add Pixel Events to the button's click handler -->
				<script type="text/javascript">
					var button = document.getElementById('aplica');
					button.addEventListener(
						'click',
						function() {
							fbq('track', 'CompleteRegistration', {
								content_name: 'Testare automata',
								status: 'started'
							});
						},
						false
					);
				</script>
			</div>
		</div>
	</div>
</div>

<div class="programa">
	<div>
		<h3>Programa</h3>
	</div>
	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">1. Automation introduction</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What is test automation?</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why test automation?</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test automation levels</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>When to use automation?</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Record & Playback</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Linear & Modular scripting</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Data driven & keyword driven testing</li>
			</ul>
		</div>

		<div class="right-column">
			<h4 class="service-heading">2. Environment setup</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Development tools</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Maven - build manager</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Git - version control</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>IntelliJ - development environment</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>SourceTree - Git Client</li>
			</ul>
		</div>

	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">3. Java basics</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>OOP principles</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Java basics and standards</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Classes and objects</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Collections</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Advanced concepts</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Exercises</li>
			</ul>
		</div>

		<div class="right-column">
			<h4 class="service-heading">4. Junit Test Framework</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Unit testing</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Junit basic usage</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hamcrest assertions</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">5. Backend & API testing</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>UI vs Backend</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Backend testing approach</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>API testing approach</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>REST vs SOAP</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Database testing</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test tools</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">6. RestAssured DSL library example</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Domain specific language</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>RESTful services</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>RestAssured introduction</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Json vs XML</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Request & response analysis</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">7. Selenium introduction</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Selenium IDE</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Selenium components</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>WebDriver overview</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">8. Selenium - Navigation</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Navigation commands</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">9. Selenium - Interrogation</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interrogation commands</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">10. Locators: ID, CSS, Xpath</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Locators overview</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Single vs multiple elements</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">11. Selenium - Manipulation</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Manipulation commands</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">12. Selenium - User interaction</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Keyboard interactions</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Mouse interactions</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Practical examples</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">13. Advanced Selenium</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Alerts</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Frames</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Cookies</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Javascript</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">14. Test Automation patterns 1: Page Objects</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Page object modelling</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>PageFactory</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Advantages</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">15. Test Automation patterns 2: Data driven</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Data Driven Framework overview</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Data Driven Framework approach</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why use it</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">16. Test Automation patterns 3: Hybrid</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hybrid Driven Framework overview</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Hybrid Driven Framework approach</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why use it</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">17. Serenity reporting</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Serenity overview</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test report features</li>
			</ul>
		</div>

		<div class="right-column">
			<h4 class="service-heading">18. Web testing, native testing, mobile testing</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Mobile vs web-based application testing</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Native vs hybrid applications</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Testing types&approach</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Web service introduction</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Real devices vs emulators</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">19. Recapitularea intregului proces si aplicarea tuturor cunostintelor asimilate</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Process overview</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Automation test project planning</li>
			</ul>
		</div>
		<div class="right-column">
			<h4 class="service-heading">20. Simularea unui proiect cap - coada</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Test project developed from scratch</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Make use of learned tools and concepts</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Project architecture tips & tricks</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>HTML report & screenshots & logging</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Jenkins - Continuous Integration</li>
			</ul>
		</div>
	</div>

	<div class="list">
		<div class="left-column">
			<h4 class="service-heading">21. Simularea interviurilor si soft skills</h4>
			<ul class="list-group">
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Why soft skills matter</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Technical knowledge coverage</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>What kind of interview questions should you expect</li>
				<li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Interview simulation</li>
			</ul>
		</div>
	</div>

</div>
